.container {
  margin: 0;
  padding: 0;
}

.masonry {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

.masonry-brick {
  position: absolute;
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
